.container {
  padding: 30px;
}


h3 {
  text-align: center;
  color: darkcyan;
  font-size: 300%;
}

button {
  background-color: slateblue;
  color: #fff;
  border: 2px solid black;
  padding: 15px;
}

.b {
  float: right;
}